form {
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1rem;
  align-items: start;
}

.button {
  background: var(--button);
}

.formWrapper {
  background: var(--background-2);
  padding: 3rem 10rem;
  border-radius: 3px;
}

.input input {
  background: var(--primary);
  border-radius: 5px;
}

@media (max-width: 640px) {
  form {
    grid-template-columns: 1fr;
  }
}
