header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: var(--primary);
  height: 6rem;
}

header a {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #f4f7fb;
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: uppercase;
}

h1 {
  justify-self: start;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

h2 {
  font-weight: 300;
  font-size: 2.5rem;
  color: var(--title);
}
