header {
  display: grid;
  padding: 0 1rem;
}

h1 {
  justify-self: start;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

h2 {
  font-weight: 300;
  font-size: 2.5rem;
  color: #607d8b;
}
